.AccountImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
}

@media screen and (max-width: 991px) {
    .AccountImage {
        width: 250px;
        height: 250px;
    }
}

.UsernameHeader {
    color: rgba(183, 255, 0, 0.945);
    font-family: 'Rubik Doodle Shadow', system-ui;
    font-size: 3rem;   
}

.BioContent {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(255, 251, 206);
}

.CustomHR {
    width: 35%;
    border-color: rgba(102, 255, 0, 0.311);
    border-width: 3px;
    border-radius: 60%;
}

.OwnersTasks {
    color: rgb(199, 199, 199);
    font-family: 'Rubik Burned', system-ui;
    font-size: 160%;
    background-color: rgba(255, 0, 0, 0.55);
    border-radius: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.NoTasks{
    color: whitesmoke;
}