.Button {
  font-size: 0.9rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #aa0000a5 !important;
}

.Button:active {
  background-color: #a1000086 !important;
}

.Button:focus {
  background-color: #51ff00;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}


/*  Dark button  */

.Dark,
.DarkOutline:hover,
.Bright:hover {
  background-color: #282828;
  color: rgb(255, 255, 255);
}

.DarkOutline,
.Dark:hover {
  background-color: #ffffff;
  color: #2142b2;
}


/*  Red button  */

.Red,
.RedOutline:hover,
.Bright:hover {
  background-color: rgb(156, 0, 0);
  color: whitesmoke;
}

.RedOutline,
.Red:hover {
  background-color: #ffffff;
  color: #2142b2;
}


/* Green button */
.Green,
.GreenOutline:hover,
.Bright:hover {
  background-color: #76a937;
  color: #000000;
}

.GreenOutline,
.Green:hover {
  background-color: #ffffff;
  color: #2142b2;
}

.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #242a3d;
}

.Bright {
  background-color: #8dbd56;
  color: #1b1b1b;
}