.DropdownItem {
    display: inline-block;
    max-width: 50%;
    padding: 0px;
    background-color: rgb(107, 107, 107);
    border-radius: 10px;
}

.DropdownItem:hover {
    background-color: rgb(151, 9, 9);
}

.Absolute {
    position: absolute;
    right: 0;
    z-index: 99;
}

.MoreDropdownIcon {
    color: rgb(255, 255, 255);
}

.MoreDropdownIcon:hover {
    color: rgb(6, 186, 0);
}

.CustomDropdownMenu {
    background-color: transparent;
  }

.DotsIcon {
    background-color: rgb(117, 0, 0);
    color: rgb(255, 255, 255);

    border-radius: 15px;
    margin-right: 5px;
    margin-top: 5px;
}

.DotsIcon:hover {
    background-color: rgb(120, 0, 0);
    color: rgb(47, 255, 0);
}
