.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* Ensure FullCalendar takes full width of its div*/
.fc .fc-media-screen.fc-direction-ltr.fc-theme-standard {
  width: 100%;
}

/* Calendar page header */
:global(.fc .fc-header-toolbar) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  justify-content: space-between;
}

/*  Calendar screen width & Background colour  */
:global(.fc .fc-view-harness) {
  background-color: #383838;
  width: 90vw;
}

/* Media Query for calender size on smaller screens */
@media (max-width: 797px) {
  :global(.fc .fc-view-harness) {
    width: 99vw;
  }

  /* Media Query for toolbar on smaller screens */
  :global(.fc .fc-header-toolbar) {
    margin-left: 2%;
    margin-right: 2%;
  }
}

/* Dates in calendar */
:global(.fc .fc-daygrid-day-top) {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Days date */
:global(.fc .fc-daygrid-day-number) {
  color: #00ff1a;
  padding-top: 12px;
  padding-right: 4px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}


/* Current day background */
:global(.fc .fc-daygrid-day.fc-day-today) {
  background-color: #023900b7;
}

/* Day cell height and overflow */
:global(.fc .fc-daygrid-day-frame) {
  height: 50px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

/* Day cell events */
:global(.fc .fc-daygrid-day-events) {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 2px;
}

/* Day cell events color */
:global(.fc .fc-event) {
  background-color: #ffffff;
  border: none;
}

/* Event hover */
:global(.fc .fc-event:hover) {
  background-color: #dedede;
}

/* Task events text */
:global(.fc .fc-event .fc-event-title) {
  color: #000000;
  font-weight: bold;
}

/* Event text hover */
:global(.fc .fc-event:hover .fc-event-title) {
  color: #333333;
}


/* Task List Icon For Modal */
:global(i.fa-solid.fa-calendar-check) {
  font-size: 35px;
}

/* Smaller icon size for screens 500px or smaller*/
@media (max-width: 500px) {
  :global(i.fa-solid.fa-calendar-check) {
    font-size: 20px;
    padding: 2px;
  }
}

/* Smaller icon size for screens 360px or smaller */
@media (max-width: 360px) {
  :global(i.fa-solid.fa-calendar-check) {
    font-size: 15px;
    padding: 2px;
  }
}

/* Buttons */
:global(.fc .fc-button-primary) {
  background-color: rgba(255, 0, 0, 0.742);
  border-color: rgb(164, 164, 164);
  color: #ffffff;
}

:global(.fc .fc-button-primary:disabled) {
  background-color: rgb(174, 0, 0);
  border-color: rgb(164, 164, 164);
  color: white;
}

:global(.fc .fc-button-primary:hover) {
  background-color: rgb(86, 0, 0);
  border-color: white;
  color: white;
}

/* Task Details Modal */

.calendarModal {
  background-color: transparent;
}

.calendarModalHeader {
  background-color: #0d3100;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Agbalumo';
  border-bottom: none;
}

.calendarModalBody {
  background-color: #002809;
}

.calendarModalFooter {
  background-color: rgb(0, 26, 0);
  color: #ffffff;
  border-top: none;
}

/* Paragraphs in modal body */
.calendarModalBody p {
  color: #d3d3d3;
  margin-bottom: 2px;
  font-size: 90%;
}

/* Strong text in modal body */
.calendarModalBody strong {
  color: #c49600;
  font-weight: bold;
  font-family: 'Noto Serif', serif;
  font-size: 100%;
  margin-bottom: 2px;
}

/* Task List Modal */

.taskListModal {
  background-color: transparent;
}

.taskListModalHeader {
  background-color: #0d3100;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Agbalumo';
  border-bottom: none;
}

.taskListModalBody {
  background-color: #002809;
  color: #d3d3d3;
}

.taskListModalFooter {
  background-color: rgb(0, 26, 0);
  color: #ffffff;
  border-top: none;
}

/* Task list UL elemnt */

.ulTaskList {
  padding-left: 0px;
}

/* Task list item */
.taskListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.taskLink {
  font-family: 'Noto Serif', serif;
  color: #cceeff;
  text-decoration: none;
}

.taskLink:hover {
  color: #a0b8c4;
}

/* Button group for edit and delete buttons */
.buttonGroup {
  display: flex;
  gap: 5px;
}

/* Close button */
.closeButton {
  background-color: #686868;
  color: white;
  border: none;
}

.closeButton:hover {
  background-color: #484848;
  color: rgb(161, 161, 161);
  border: none;
}

/* Edit Task button */
.editButton {
  background-color: #0a9a00;
  color: rgb(0, 0, 0);
  border: none;
}

.editButton:hover {
  background-color: #087800;
  color: rgb(0, 0, 0);
  border: none;
}

/* Delete Task button */
.deleteButton {
  background-color: #b30000;
  color: white;
  border: none;
}

.deleteButton:hover {
  background-color: #cc0000;
  color: #fff;
  border: none;
}

/* Year view month 1st day text hidden */
:global(.fc .fc-daygrid-day-number.fc-daygrid-month-start) {
  display: none;
}

/* Darken background for the first day of the month if tasks exist */
.darkenBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Darkness of overlay */
  z-index: 1;
  /* Place over above BG image */
  pointer-events: none;
  /* Ensure overlay doesnt interfere clicking */
}

/* Ensure text is above the overlay */
.darkenBackground .fc-daygrid-day-number,
.darkenBackground .fc-daygrid-event {
  position: relative;
  z-index: 2;
}

/* Hide tasks on small screens */
@media (max-width: 797px) {
  :global(.fc .fc-daygrid-day-events) {
    display: none;
  }
}