.calendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calendar page header */
:global(.fc .fc-header-toolbar) {
  color: #000000;
}

/*  Calendar size & Background  */
:global(.fc .fc-view-harness) {
  background-color: #383838;
  width: 80vw;
}

/* Days font color */
:global(.fc .fc-daygrid-day-number) {
  color: #00ff1a;
}

/* Current day background */
:global(.fc .fc-daygrid-day.fc-day-today) {
  background-color: #023900b7;
}

/*   Buttons   */
:global(.fc .fc-button-primary) {
  background-color: rgba(255, 0, 0, 0.742); 
  border-color: rgb(164, 164, 164); 
  color: #ffffff; 
}

:global(.fc .fc-button-primary:disabled) {
  background-color: rgb(174, 0, 0);
  border-color: rgb(164, 164, 164);
  color: white;
}

:global(.fc .fc-button-primary:hover) {
  background-color: rgb(86, 0, 0);
  border-color: white;
  color: white;
}
