.NavBar {
    background-color: rgba(0, 38, 6, 0.788);

    /* background-image: url(../assets/navbarbg.jpg); */
    border: 1px solid grey;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color: #ff3535;
}