.NavBar {
    background-color: rgba(0, 38, 6, 0.788);
    position: fixed;
}

/* Navbar border bottom rainbow with watermelon colors */

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.NavBar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(45deg, rgb(255, 0, 0), rgb(43, 255, 0), rgba(0, 0, 0, 0.804));
    background-size: 200% 200%;
    animation: rainbow 10s linear infinite;
}


/*  Nav links  */
.NavLink {
    padding: 5px;
}


/*  Active nav links  */
.Active i {
    color: #64ff35;
}


/* Create Task Button */
.CreateTaskButton {
    background-color: #e85038;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    padding-right: 8px;
}

.CreateTaskButton:hover {
    background-color: #903123;
}


/* View dropdown */
.viewText {
    color: #c0c0c0;
    font-size: inherit;
}

.NavBar .viewText:hover {
    color: #64ff35;
}


/* Navbar search for users */

.SearchResultsDropdown {
    position: absolute;
    background-color: rgba(99, 0, 0, 0.979);
    border: none;
    border-radius: 4px;
    width: 100%;
    z-index: 1000;
}

.SearchResultsDropdown a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: whitesmoke;
}

.SearchResultsDropdown a:hover {
    background-color: #002d02;
    color: rgba(55, 255, 0, 0.642);
}

.SearchInputContainer {
    position: relative;
    display: inline-block;
}