.NewestAccounts {
  background-color: rgba(0, 0, 0, 0.795);
  padding: 8px;
  color: rgba(255, 255, 255, 0.719);
}

.NewestUsersP {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(130, 130, 130, 0.333);
}

/* Mobile view */
@media (max-width: 991px) {
  .NewestAccountsMobile .col {
    display: flex;
    justify-content: center;
  }
}

/* Large screens */
@media (min-width: 992px) {
  .NewestAccounts .col-lg-12 {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
}