.Row {
    height: calc(100vh - 81px);
  }
  .Input {
    background: #7bff00a6;
    border: 1px solid #8e8e8ea7;
    box-sizing: border-box;
    border-radius: 2px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: white;
    font-size: 100%;
    font-weight: 500;
  }
  
  .Link span {
    color: #fff200;
    font-size: 100%;
    font-weight: 600;
  }

  .Link span:hover {
    color: #ffffff;
    font-size: 100%;
    font-weight: 600;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }