/* Username */

.Owner {
  font-weight: bold;
  color: #b22121;
  margin-right: 8px;
  margin-left: 0px;
  margin-top: 9px;
}


/* Date */

.Date {
  font-weight: lighter;
  color: #3d3d3d;
}


/* Comment input field */

.InputFieldComments {
  background-color: rgba(255, 255, 255, 0.367);
  color: #333333;
  width: 100%;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid rgba(128, 128, 128, 0.316);
}

.TaskCommentCreateForm .InputFieldComments {
  border-radius: 3px;
}


/* Post comment button */

.PostCommentBtn:disabled {
  color: #fff;
  background-color: #ff0000;
  border: none;
}

.PostCommentBtn:disabled:hover {
  background-color: rgb(120, 0, 0);
  color: rgb(103, 103, 103);
}

.PostCommentBtn {
  width: auto;
  height: 38px;
  background-color: rgb(0, 132, 9);
  border: none;
  align-self: flex-end;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 3px 9px 3px 9px;
}

.PostCommentBtn:hover {
  background-color: rgb(0, 73, 5);
  color: limegreen;
}


.CommentFormCol {
  padding-left: 0;
}

.CommentForm {
  background-color: rgba(255, 255, 255, 0.631);
  width: 100%;
  padding: 0;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .InputGroup {
    flex-direction: column;
  }

  .Avatar {
    background-color: transparent;
  }
}

.ButtonContainer {
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .ButtonContainer {
    margin-bottom: 10px;
  }
}