.Container {
  min-height: 343px;
  background-color: rgba(3, 39, 0, 0.564);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border-radius: 10px;
}

/* Close button */
.closeButton {
  background-color: #686868; 
  color: white;
  border: none;
  margin: 5px;
}

.closeButton:hover {
  background-color: #7d7d7d; 
  color: rgb(24, 210, 0);
  border: none;
}

/* Edit Task button */
.editButton {
  background-color: #740000;
  color: white;
  border: none;
  margin: 5px;
}

.editButton:hover {
  background-color: #8a0000;
  color: rgb(24, 210, 0);
  border: none;
}

/* Form Group elements */
.formGroupCustom {
  margin-bottom: 15px; 
  padding: 10px;
  border-radius: 5px;
  border: none;
}

/* Div element */
.taskFormDiv { 
  font-weight: bold;
  color: white;
  padding: 20px; 
  border-radius: 5px; 
}

/* Form Control elements */
.formPlaceholder {
  background-color: rgba(120, 120, 120, 0.699);
  color: white;
}


.changeImgBtn {
  background-color: #610000;
  color: rgb(255, 255, 255);
}

.changeImgBtn:hover {
  background-color: rgb(43, 0, 0);
  color: #00ac0e;
}
