.Task {
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.Task figure,
h5 {
  margin: 0 0;
}

.TitleSection {
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Agbalumo';
}

.ContentSection {
  background-color: #ffffff;
  color: #000000;
}

.ImageSection {
  background-color: white;
}

.FooterSection {
  background-color: #000000;
  color: #eeff00;
  font-size: 100%;
  font-weight: 400;
}