.App {
    font-family: 'Noto Serif', serif;
    background-color: rgb(149, 207, 156);
    min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #007a25;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #00ff4d91;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 100%;
  max-width: 40vh;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #c0c0c0;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
  color: #64ff35;
}

a:hover i {
  color: #64ff35;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #b8b8b8;
  font-size: 1.6rem;
  padding: 4px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #64ff35;
}

figure {
  text-align: center;
  display: inline-block;
}

.view-dropdown {
  color: yellowgreen;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

